body{
    background-color: rgb(235, 209, 250);
}

.yo{
    padding: 130;
    margin: 30;
    background-color: rgb(210, 133, 255);
}
.flex{
    display: flex;
}

.red{
    padding-right: 430px;
    background-color: rgb(210, 133, 255);

}
.yellow{
    padding-bottom: 750px;
    background-color: rgb(210, 133, 255);
}
.blue{
    
    padding-right: 43px;
    background-color: rgb(210, 133, 255);
}
.green{
    padding-bottom: 430px;
    margin-top: 30px;
    background-color: rgb(210, 133, 255);
}
.pink{
    padding-bottom: 430px;
    margin-top: 30px;
    background-color: rgb(210, 133, 255);
}